body {
  background-color: white;
}

.block { 
  width: 100px;
  height: 100px; 
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: serif;
  font-size: 3rem;
  font-weight: bold;
  border: solid 2px black;
}

.block:hover {
  opacity: 0.3;
  cursor: pointer;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

}

.black { background-color: #000000; }
.blue  { background-color: #0047AB; }
.salmon   { background-color: #C41E3A; }
.yellow  { background-color: #B8860B; }


.title {
  font-size: 2rem;
  font-weight: bold;
  background-color: #4956b8;
  color: #ffffff;
  padding: 10px;

}

p {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #4956b8;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}