.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.boxBorder {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.boxBorder.green {
    background-color: green;
    color: white;
}

.boxBorder.yellow {
    background-color: yellow;
    color: black;
}

.gameTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


.gameContainer {
    width: 350px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;

}

input {
    width: 350px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: 5px;
}